/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/public/images/aaminah.jpg
/public/images/akmol.jpg
/public/images/awais.jpg
/public/images/dylan.png
/public/images/farhan.png
/public/images/hiqmah.png
/public/images/joe.png
/public/images/manjot.png
/public/images/soheer.png
