@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";



:root {
  --primary: #001524;  
  --secondary: #15616D; 
  --accent:#FFB569 ; 
  --background: #FFECD1; 
  --darker: #dacbb7; 
  --main: #FF7D00; 
}

.footer-nav {
    font-size: medium;
}

.footer-nav:hover {
    color: var(--accent);
}

.logo-cont {
    height: 15rem;
}

.box-shadow {
    box-shadow: 10px 10px 15px var(--primary);
}

.text-shadow {
    text-shadow: 2px 2px 1px var(--primary);
}

.footer-shadow{
    box-shadow: 0 50vh 0 50vh var(--primary);
}

.filter-invert{
    filter:invert(100%);
}